@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Azure Devops Page</h1>
    <p>About Me <a href="https://www.linkedin.com/in/k-pasupureddy-96232a30/">My LinkedIn Profile</a>.</p>
</div>
